.rpi-main-info-wrap {

    .rpi-title-wrap {

        .rpi-name {
            font-size: 2.25rem;
            font-weight: 700;
            margin: 0;
        }
        .rpi-status {
            font-size: 1rem;
        }
    }
    .rpi-model {
        font-style: italic;
        font-weight: 400;
        font-size: 1rem;
    }

    .rpi-misc-info-wrap {
        .rpi-misc-info {
            margin:0 !important;
            padding:0 !important;
        }
    }
}