.rpi-memory-usage-wrap {
    .rpi-memory-usage-inner {
        .rpi-panel-holder {
            width: 65px !important;
        }

        .rpi-memory-chart-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;

            .rpi-memory-current-used {
                position: absolute;
                top: 58px;
                left: 73px;
                font-weight: 700;
                font-size: 0.9rem;
                text-align: center;
                padding: 0;
                margin: 0;
                line-height: 0.75;

                .smaller {
                    font-weight: 500;
                    font-size: 0.5rem;
                    margin: 0;
                }
            }

            .rpi-memory-chart-core {
                width: 100%;
                align-self: flex-end;
            }
        }
    }
}