.rpi-warnings-wrap {
    .rpi-warnings-inner {
        .rpi-panel-holder {
            width: 78px !important;
        }

        .rpi-warn-badges-wrap {
            width: 100%;
            .warn-badge {
                display: inline-flex;
                align-items: center;
                width: auto;
                height: 25px;
                padding: 3px 8px;
                border-radius: 3px;
                margin: 2px;

                .badge-text {
                    font-size: 0.60rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    margin: 0;
                    padding: 0;
                    line-height: 0;
                }
            }
            .filled {
                background-color: $warn-filled-bg-off-light;

                .badge-text {
                    color: $warn-filled-text-off-light;
                }
            }
            .hollow {
                border: 2px solid $warn-hollow-br-off-light;

                .badge-text {
                    color: $warn-hollow-text-off-light;
                }
            }
            .throttling-on {
                background-color: $warn-thr-bg-light;

                .badge-text {
                    color: $warn-thr-text-light;
                }
            }
            .throttling-occ-on {
                border: 2px solid $warn-throccu-br-light;

                .badge-text {
                    color: $warn-throccu-text-light;
                }
            }
            .undervolt-on {
                background-color: $warn-uvolt-bg-light;

                .badge-text {
                    color: $warn-uvolt-text-light;
                }
            }
            .undervolt-occ-on {
                border: 2px solid $warn-uvoltoccu-br-light;

                .badge-text {
                    color: $warn-uvoltoccu-text-light;
                }
            }
            .frequency-on {
                background-color: $warn-armfreq-bg-light;

                .badge-text {
                    color: $warn-armfreq-text-light;
                }
            }
            .frequency-occ-on {
                border: 2px solid $warn-armfreqoccu-br-light;

                .badge-text {
                    color: $warn-armfreqoccu-text-light;
                }
            }
            .soft-temp-on {
                background-color: $warn-sftemp-bg-light;

                .badge-text {
                    color: $warn-sftemp-text-light;
                }
            }
            .soft-temp-occ-on {
                border: 2px solid $warn-sftempoccu-br-light;

                .badge-text {
                    color: $warn-sftempoccu-text-light;
                }
            }
        }
    }
}