.rpi-uptime-wrap {
    .rpi-uptime-inner {
        .rpi-panel-holder {
            width: 55px !important;
        }
        .rpi-current-uptime-holder {
            width: 100%;
            height: 100%;
            .c-uptime-text {
                font-weight: 600;
                font-size: 1.95rem;
                line-height: 1.3;

                .thinner {
                    font-weight: 400;
                }
            }
        }
    }
}