/* COLORS */

/* Light */
$bg-light: #FAFAFA;
$text-light: #494949;
$info-text-light: #989898;
$info-icon-light: #878787;

$status-online-light: #7BC77A;
$status-offline-light: #D3444C;
$status-warn-light: #FCE300;

$menu-bg-light: #F1F1F1;
$menu-text-light: #494949;
$menu-info-text-light: #898989;
$menu-divider-light: #E6E6E6;

$mode-outer-bg-light: #EBEBEB;
$mode-outer-br-light: #D7D7D7;
$mode-inner-bg-light: #FFFFFF;
$mode-icon-night-light: #314474;

$panel-br-light: #EBEBEB;
$panel-icon-bg-light: #FFFFFF;
$panel-icon-color-light: #878787;
$panel-super-detail-light: #A4A4A4;

$warn-thr-bg-light: #E05151;
$warn-thr-text-light: #FFFFFF;

$warn-throccu-bg-light: transparent;
$warn-throccu-br-light: #982E2E;
$warn-throccu-text-light: #982E2E;

$warn-uvolt-bg-light: #F3DB00;
$warn-uvolt-text-light: #6C6C6C;

$warn-uvoltoccu-bg-light: transparent;
$warn-uvoltoccu-br-light: #F3DB00;
$warn-uvoltoccu-text-light: #F3DB00;

$warn-armfreq-bg-light: #D49927;
$warn-armfreq-text-light: #FFFFFF;

$warn-armfreqoccu-bg-light: #FFFFFF;
$warn-armfreqoccu-br-light: #93691A;
$warn-armfreqoccu-text-light: #93691A;

$warn-sftemp-bg-light: #C7D427;
$warn-sftemp-text-light: #FFFFFF;

$warn-sftempoccu-bg-light: transparent;
$warn-sftempoccu-br-light: #C7D427;
$warn-sftempoccu-text-light: #C7D427;

/* Dark */


/* TYPE */

$plusJakartaFont: "Plus Jakarta Sans", Helvetica, Arial, sans-serif;

/* WIDTHS */