.rpi-mode-adjust-wrap {
    .rpi-mode-adjust-inner {
        .switch-checkbox {
            display: none;
          }

        .switch-label {
            /* for width, use the standard element-size */
            width: 68px;
            border-radius: var(--element-size);
            padding: calc(var(--element-size)*.07);
            font-size: calc(var(--element-size)*.3);
            height: calc(var(--element-size)*.45);
            align-items: center;
            background: var(--text-primary-color);
            cursor: pointer;
            display: flex;
            position: relative;
            transition: background 0.5s ease;
            justify-content: space-between;
            z-index: 1;

            .icon-dark {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                color: $mode-icon-night-light;
            }
            .icon-light {
                font-size: 1.2rem;
                padding-left: 5px;
                display: flex;
                align-items: center;
                color: $mode-icon-day-dark;
            }
        }

        .switch-toggle {
            position: absolute;
            background-color: var(--background-color-primary);
            border-radius: 50%;
            top: calc(var(--element-size)*.05);
            left: calc(var(--element-size)*.08);
            height: calc(var(--element-size)*.35);
            width: calc(var(--element-size)*.35);
            transform: translateX(0);
            transition: transform 0.4s ease, background-color 0.6s ease;
        }

        .switch-toggle-checked {
            transform: translateX(calc(var(--element-size) * 0.36)) !important;
        }
    }
}